bassine.txt
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsa similique error 
   delectus ea rem provident, corrupti non sequi ullam nemo unde, a exercitationem 
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsa similique error 
   delectus ea rem provident, corrupti non sequi ullam nemo unde, a exercitationem libero <br> ducimus eius voluptas sit esse.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsa similique error <br>
    delectus ea rem provident, corrupti non sequi ullam nemo unde, a exercitationem libero ducimus eius voluptas sit esse.